# Data Science Notebook

## Introduction

Welcome to this data science notebook! In this notebook, we will explore various data science languages, libraries, and tools, and perform some simple calculations and conversions.

## Data Science Languages

- Python
- R
- Julia
- SQL

## Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-Learn
- TensorFlow
- PyTorch

## Data Science Tools

| Category       | Tools                 |
|----------------|-----------------------|
| Data Cleaning  | OpenRefine, Trifacta |
| Visualization  | Tableau, Power BI    |
| Database       | MySQL, PostgreSQL    |
| Cloud Services | AWS, Azure, GCP      |

## Arithmetic Expression Examples

Let's explore some simple arithmetic expressions to better understand calculations in programming.

In [1]:
# Multiplication
multiply_result = 5 * 3
print("Multiplication:", multiply_result)

# Addition
addition_result = 5 + 3
print("Addition:", addition_result)

Multiplication: 15
Addition: 8

In [2]:
# Conversion: Minutes to Hours
minutes = 120
hours = minutes / 60
print("Hours:", hours)

Hours: 2.0

## Objectives

- Explore popular data science languages and libraries.
- Introduce fundamental data science tools.
- Perform basic arithmetic calculations and conversions.

## Author

Your Name